@import "eraser";
@import "foundation/foundation";

.clear
{
    clear: both;
}

p,
ul,
li,
a,
h1
{
    font-family: 'PT Sans', Arial, sans-serif;
    color: #738899;
}

a
{
    text-decoration: underline;
    color: #1983fa;

    &:hover
    {
        text-decoration: none;
    }

    &.dashed
    {
        text-decoration: none;
        display: inline-block;
        border-bottom: 1px dashed #738899;

        &:hover
        {
            border-bottom: 1px solid transparent;
        }
    }

    &.gray_link
    {
        color: #40505d;
    }
}

p
{
    color: #565656;
    margin-bottom: 0.75rem;

    &.medium
    {
        font-size: 1.0625rem; // 17px
    }

    &.bigger
    {
        font-size: 1.125rem; // 18px
    }

    &.last
    {
        margin-bottom: 3.75rem;
    }

    &.subtitle
    {
        margin-bottom: 4.5rem;
        line-height: 1.875rem;
        color: #7c8595;
        text-align: center;
    }
}

.indivisible_block
{
    display: inline-block;
}

.description_block
{
    margin-top: 3.75rem;
}

.fixed
{
    overflow: hidden;
}

.hidden
{
    display: none
}

h1
{
    color: #131313;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

h2,
h3
{
    color: #40505d;
    font-weight: 400;
    font-family: 'PT Sans', Arial, sans-serif;
    margin-bottom: 3.25rem;
    text-align: center;
    text-transform: uppercase;

    &.with_subtitle
    {
        margin-bottom: 2rem;
    }
}

h3
{
    color: #21383e;
}

h4
{
    font-family: 'Roboto', Arial, sans-serif;
    color: #40505d;
    font-weight: 500;
}

h5
{
    font-family: 'PT Sans', Arial, sans-serif;
    color: #21383e;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.button
{
    font-weight: 600;
    font-size: 1.125rem;
    text-decoration: none !important;
    outline: none;

    &.red_with_white
    {
        background: #f44e43;
        color: #fff;

        &:hover
        {
            background: #da352a;
        }
    }

    &.green_with_white
    {
      background: #83c755;
      color: #fff;

      &:hover
      {
        background: #46b530;
      }
    }

    &.white_with_red
    {
        background: #fff;
        color: #f44e43;
        border: 1px solid #f44e43;

        &:hover
        {
            border: 1px solid #da352a;
            color: #da352a;
        }
    }

    &.hollow
    {
        &.red
        {
            border: 1px solid #f44e43;
            color: #f44e43;

            &:hover
            {
                background: #f44e43;
                color: #fff;
            }
        }

        &.big
        {
            border: 2px solid;
            padding: 20px 55px;

            &:hover
            {
                border: 2px solid;
            }

            &.round
            {
                border-radius: 35px;
            }
        }
    }

    &.small_rounded
    {
        border-radius: 3px;
    }

    &.big_text
    {
        text-transform: uppercase;
    }
}

.white_wrapper
{
    background: #fff;
}

.content_wrapper
{
    padding: 3.75rem 0 1.25rem;

    &.no_bottom_indent
    {
        padding-bottom: 0;
    }
}

.bottom_bordered
{
    border-bottom: 1px solid #c7c7c7;
}

.reveal
{
    left: 0;
}

.yellow_divider
{
    height: 2px;
    width: 100px;
    background-color: #fdbd57;
    margin-bottom: 0.85rem;
}

.vertical_middle_block
{
    border: 1px solid;
    vertical-align: middle;
}

.table_cell
{
    display: inline-block;
}

table
{
    &.full_block_table
    {
        height: 100%;
        width: 100%;

        tbody
        {
            background: none;
            border: none;
        }

        td.centered
        {
            vertical-align: middle;
            text-align: center;
        }

    }
}

blockquote
{
    border-left: 2px solid #fdbd57;
    padding: 0.1875rem 0 1.125rem 1.75rem;
    margin-bottom: 0.625rem;
}

.indivisible_text
{
    display: inline-block;
}

.images
{
    width: 100%;
}

/* Hamburder */

.hamburger
{
    float: left;
    padding-right: 1rem;
}

.hamburger .line
{
    width: 40px;
    height: 3px;
    background-color: #fff;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover
{
    cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2)
{
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1)
{
    transform: translateY(11px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3)
{
    transform: translateY(-11px) rotate(-45deg);
}
/* End of hamburder */

/* Form */
.competitions,
.user_quantity
{
    outline: none;
}

.user,
.head
{
  margin-bottom: 30px;
}

.form_agreement_text
{
    text-align: left;
}

.form_result_text
{
    h3
    {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 1.25rem;
    }

    p
    {
        margin-bottom: 1rem;

        &.item_title
        {
            font-weight: 600;
            margin-bottom: 0;
        }
    }

    .player_info
    {
        margin-bottom: 1rem;

        p
        {
            margin-bottom: 0;

            .player_title
            {
                font-weight: 600;
            }
        }
    }
}
/* End of form */
/* End of common */

/* Header */
.header_wrapper
{
    padding: 0;
    background: #093136;
    border-bottom: 2px solid #f4f2f1;
    position: fixed;
    z-index: 30;
    width: 100%;
    top: 0;
}

.logo_container
{
    display: inline-block;
    padding: 18px 5px 3px;
    margin-top: 10px;
}

.phone_container
{
    float: right;
    padding-top: 30px;
    padding-bottom: 27px;

    p
    {
        font-size: 1rem;
        margin: 0;
        color: #c3c4c8;

        &.number
        {
            font-family: 'Roboto', Arial, sans-serif;
            font-size: 1.125rem;
            color: #fff;
            font-weight: 500;
            line-height: 1.25rem;
        }
    }
}
/* End of header */

/* Top menu */
.topmenu
{
    padding: 0;
    margin: 0;

    li
    {
        display: inline-block;
        list-style: none;
        padding: 0 20px;

        a
        {
            display: block;
            padding: 23px 0 24px;
            color: #fff;
            text-transform: uppercase;
            border-top: 4px solid transparent;
            text-decoration: none;

            &.special_link
            {
                color: #f7aaa5;
            }

            &:hover
            {
                border-top: 4px solid #f44e43;
            }
        }
    }
}

.menu_button_container
{
    float: right;
    margin: 0;
    display: none;

    p.menu_text
    {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        display: none;
    }
}
/* End of top menu */

///* Hamburger button */
//.lightgray_menu_button
//{
//    display: block;
//    position: relative;
//    overflow: hidden;
//    margin: 0;
//    padding: 0;
//    width: 28px;
//    height: 36px;
//    font-size: 0;
//    text-indent: -9999px;
//    appearance: none;
//    box-shadow: none;
//    border-radius: 0;
//    border: none;
//    cursor: pointer;
//
//    &:focus
//    {
//        outline: none;
//    }
//}
//
//.lightgray_menu_button span {
//    display: block;
//    position: absolute;
//    top: 12px;
//    left: 0;
//    right: 0;
//    height: 3px;
//    background: #fff;
//    transition: background 0s 0.3s;
//}
//
//.lightgray_menu_button span::before,
//.lightgray_menu_button span::after {
//    position: absolute;
//    display: block;
//    left: 0;
//    width: 100%;
//    height: 3px;
//    background-color: #fff;
//    content: "";
//}
//
//.lightgray_menu_button span::before {
//    top: -10px;
//}
//
//.lightgray_menu_button span::after {
//    bottom: -10px;
//}
//
//.menu_button_to_x span::before,
//.menu_button_to_x span::after {
//    transition-duration: 0.2s, 0.2s;
//    transition-delay: 0.2s, 0s;
//}
//
//.menu_button_to_x span::before {
//    transition-property: top, transform, -webkit-transform;
//    transition-property: top, transform;
//}
//
//.menu_button_to_x span::after {
//    transition-property: bottom, transform, -webkit-transform;
//    transition-property: bottom, transform;
//}
//
//.menu_button_to_x.is-active span {
//    background: none;
//}
//
//.menu_button_to_x.is-active span::before {
//    top: 0;
//    transform: rotate(45deg);
//}
//
//.menu_button_to_x.is-active span::after {
//    bottom: 0;
//    transform: rotate(-45deg);
//}
//
//.menu_button_to_x.is-active span::before,
//.menu_button_to_x.is-active span::after {
//    transition-delay: 0s, 0.2s;
//}
///* End of hamburger button */

/* Banner */
.banner_wrapper
{
    margin-top: 78px;
    background: url("/images/bg.jpg") no-repeat;
    height: 582px;
    overflow: hidden;
    position: relative;

    .banner_video
    {
        position: relative;
    }

    .ytplayer-shield
    {
        width: 100%;
        height: 100%;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
    }

    //.buttons_wrapper
    //{
    //    position: fixed;
    //    z-index: 20;
    //    top: 215px;
    //    left: 0;
    //
    //    .button
    //    {
    //        font-family: 'Open Sans', Arial, sans-serif;
    //        font-size: 1.125rem;
    //        font-weight: 600;
    //        margin-bottom: 14px;
    //        display: block;
    //    }
    //}

    .details_wrapper
    {
        position: absolute;
        bottom: 80px;
        left: 0;
        right: 0;
        z-index: 10;

        .details_container
        {
            text-align: center;

            .icon_wrapper
            {
                display: inline-block;
                height: 68px;
                padding: 8px 20px 0;
                margin-right: 1px;
                background: #fcde3a;
                vertical-align: top;
            }

            .date_icon
            {
                display: inline-block;
                height: 51px;
                width: 51px;
                background: url('../images/background/sprite_icons.png');
            }

            .place_icon
            {
                display: inline-block;
                width: 32px;
                height: 53px;
                background: url('../images/background/sprite_icons.png') 0 -52px;
            }

            .date
            {
                display: inline-block;
                background: #fcde3a;
                padding: 0 55px;
                margin-bottom: 5px;
                vertical-align: top;

                p
                {
                    line-height: 68px;
                    text-transform: uppercase;
                    font-size: 1.875rem;
                    margin: 0;
                    color: #000;
                }
            }

            .place
            {
                @extend .date;
                padding: 0 20px;
            }
        }
    }
}
/* End of banner */

/* You will get */
.red_label
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    background: #ec6127;
    position: absolute;
    border-radius: 0 0 4px 0;
    color: #fff;
    font-size: 0.75rem;
    padding: 10px 20px 10px 10px;
    text-transform: uppercase;
    top: 0;
    left: 0;
}

.announce_column
{
    max-width: 450px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 10px rgba(35,31,32,0.1);
    background: #fff;
    margin-bottom: 0.875rem;

    p
    {
        font-size: 0.9375rem;
        line-height: 1.25rem;

        &.title
        {
            text-transform: uppercase;
            font-weight: bold;
            color: #41494b;
            line-height: 1rem;

            &.case_sensitive
            {
                text-transform: none;
            }
        }
    }

    a
    {
        font-size: 0.8125rem;
    }

    .headline
    {
        background: #093339;
        padding: 1rem 2rem;

        p
        {
            color: #fff;
            text-transform: uppercase;
            font-size: 1.375rem;
            margin: 0;
        }
    }

    .wide_image_container
    {
        position: relative;
    }

    .announce_container
    {
        padding: 28px 40px 28px;
    }

    .article_preview
    {
        margin-bottom: 1.875rem;

        &:last-child
        {
            margin-bottom: 0;
        }

        .image_container
        {
            float: left;
            overflow: hidden;
            width: 160px;
        }

        .preview_text
        {
            margin-left: 184px;

            p
            {
                margin-bottom: 0.0625rem;

                &.title
                {
                    margin-bottom: 0.4375rem;
                }
            }
        }
    }

    .button_container
    {
        margin: 0 auto;
        width: 55%;
    }

    .button
    {
        margin-top: 1rem;
        width: 100%;

        &:not(first-child)
        {
            margin-top: 0;
        }
    }

    .main_event_article
    {
        p
        {
            font-size: 1rem;

            &.title
            {
                text-transform: none;
                line-height: 1.25rem;
            }
        }

        ul
        {
            li
            {
                font-size: 1rem;
            }
        }
    }

    .free_enter
    {
        text-transform: uppercase;
        color: #f44e43;
        margin-top: 2.75rem;
    }
}
/* End of you will get */

/* Program */
.competition_program
{
    .timetable_unit
    {
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 1px 10px rgba(35,31,32,0.1);
        background: #fff;
        padding: 0.75rem 1.875rem 0;
        margin-bottom: 0.3125rem;

        a
        {
            color: #21383e;

            &:hover
            {
                color: #21383e;
            }
        }

        .time
        {
            color: #7c8595;
            margin-bottom: 0;
            line-height: 1rem;
        }

        .event
        {
            font-size: 1.25rem;
            color: #21383e;
        }
    }

    .competitions_timetable_wrapper
    {
        padding: 0;
        display: none;

        ul.competitions_timetable
        {
            font-size: 0;
            padding: 0;
            margin: 0;

            li
            {
                display: inline-block;
                vertical-align: top;
                width: 16.66%;
                font-size: 0.875rem;
                color: #7c8595;
                line-height: 1.0625rem;

                .time_block
                {
                    border-bottom: 1px solid #e5e7ea;
                    padding: 15px 12px 15px 12px;
                    height: 115px;

                    &.name_container
                    {
                        min-height: 67px;
                        height: auto;
                    }
                }

                &:nth-child(even)
                {
                    background: #f9f9f9;
                }

                span.name
                {
                    font-family: 'Open Sans', Arial, sans-serif;
                    font-weight: 600;

                    &.first
                    {
                        color: #f3242e;
                    }

                    &.short
                    {
                        color: #1a98f1;
                    }

                    &.chert
                    {
                        color: #28a62b;
                    }

                    &.sort
                    {
                        color: #3074d0;
                    }

                    &.arduino
                    {
                        color: #8c62eb;
                    }

                    &.carusel
                    {
                        color: #de48a2;
                    }
                }

                span.time
                {
                    font-size: 1rem;
                    margin-bottom: 0.125rem;
                }
            }
        }
    }
}
/* End of program */

/* Timeline */
.timeline_wrapper
{
    padding: 55px 20px 25px;

    &.year_2012
    {
        background: #431f1f;
        background: linear-gradient(to top, #2f1a20, #4e1f1e);

        .timeline_content
        {
            border-bottom: 2px solid #e04258;
        }

        p.year
        {
            color: #e04258;
            border-bottom: 2px solid #e04258;
        }
    }

    &.year_2013
    {
        background: #335441;
        background: linear-gradient(to top, #23453d, #3f5d45);

        .timeline_content
        {
            border-bottom: 2px solid #7dcc48;
        }

        p.year
        {
            color: #72c53b;
            border-bottom: 2px solid #72c53b;
        }
    }

    &.year_2014
    {
        background: #311100;
        background: linear-gradient(to top, #1a0000, #3e1a00);

        .timeline_content
        {
            border-bottom: 2px solid #f0a628;
        }

        p.year
        {
            color: #f0a628;
            border-bottom: 2px solid #f0a628;
        }
    }

    &.year_2015
     {
         background: #164442;
         background: linear-gradient(to top, #0e363d, #215a50);

         .timeline_content
         {
             border-bottom: 2px solid #5aaede;
         }

         p.year
         {
             color: #3d98cc;
             border-bottom: 2px solid #3d98cc;
         }
     }

    &.year_2016
    {
        background: #7e0b8a;
        background: linear-gradient(to top, #26013a, #4b0271);

        .timeline_content
        {
            border-bottom: 2px solid #c861d3;
        }

        p.year
        {
            color: #c437d3;
            border-bottom: 2px solid #c437d3;
        }
    }

    .timeline_buttons_wrapper
    {
        margin: 0 auto;
        width: 96%;
        max-width: 725px;
        font-size: 0;

        ul.timeline_buttons_list
        {
            li
            {
                display: inline-block;
                width: 20%;
                padding-right: 2px;
                font-size: 1rem;

                .timeline_button
                {
                    display: block;
                    height: 15px;
                    background: #3e3e40;
                    margin-bottom: 0.75rem;

                    -webkit-transition: ease-out 0.3s;
                    -moz-transition: ease-out 0.3s;
                    -o-transition: ease-out 0.3s;
                    transition: ease-out 0.3s;
                }

                p
                {
                    color: gray;
                    font-size: 0.75rem;
                    text-align: center;
                }

                &.active
                {
                    p
                    {
                        color: #fff;
                    }

                    a.year_2012
                    {
                        background: #f7475f;
                    }

                    a.year_2013
                    {
                        background: #7dcc48;
                    }

                    a.year_2014
                    {
                        background: #efb551;
                    }

                    a.year_2015
                    {
                        background: #5aaede;
                    }

                    a.year_2016
                    {
                        background: #c861d3;
                    }
                }
            }
        }
    }
}

.timeline_content_wrapper
{
    font-size: 0;
    margin-bottom: 3.75rem;
    display: none;

    .year_profit
    {
        background: #fff;
        padding: 8.25rem 2.5rem 1.5rem;

        p
        {
            color: #17130c;
            font-size: 1.875rem;
            margin-bottom: 0.75rem;
            line-height: 2.25rem;

            &.year
            {
                font-size: 3rem;
                display: inline-block;
                padding-right: 2rem;
                font-weight: 700;
                line-height: 2rem;
                padding-bottom: 1rem;
                margin-bottom: 2rem;
            }
        }
    }

    .timeline_content_item
    {
        font-size: 1rem;
        display: inline-block;
        width: 20%;
        padding-right: 20px;
        vertical-align: middle;

        .description
        {
            padding: 30px;
            background: #fff;

            &.top_indent
            {
                padding-top: 52px;
            }

            &.bottom_indent
            {
                padding-bottom: 52px;
            }

            p
            {
                margin: 0;
                color: #4e5050;
            }
        }

        .image_container
        {
            padding: 0;
        }
    }
}
/* End of timeline */

/* Video buttons */
.video_play_button_container
{
    position: absolute;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
}

.video_play_button
{
    height: 72px;
    width: 72px;
    background: url(../images/background/icon_sprites.png);
    position: absolute;
    left: -36px;
    top: -36px;
    display: block;
}

a:hover .video_play_button
{
    background-position: 0 -72px;
}

.video_play_button_small
{
    height: 56px;
    width: 56px;
    background: url(../images/background/icon_sprites.png);
    position: absolute;
    bottom: 5.66%;
    right: 5.66%;
    display: block;
    background-position: 0 -144px;
}

a:hover .video_play_button_small
{
    background-position: 0 -200px;
}
/* End of video buttons */

/* Recalls */
.row.expanded .row.recalls_container
{
    margin-left: -1.875rem;
    margin-right: -1.875rem;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.recall
{
    padding: 2rem 0 4rem;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 1.375rem;

    p
    {
        text-align: left;
        font-size: 0.875rem;
        margin: 0 2.625rem 0 3.625rem;
        line-height: 1.5625rem;

        &.name
        {
            text-align: center;
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 1.375rem;
            color: #d97363;
            margin: 1.125rem 0 0.5rem;
        }

        &.city
        {
            margin: 0;
            text-align: center;
            font-size: 0.9375rem;
            color: #949494;
            margin-bottom: 0.625rem;
        }
    }
}
/* End of recalls */

/* School */
.school_wrapper
{
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(220,220,220,1);
    overflow: hidden;
    margin-bottom: 4.625rem;

    .school_logo_container
    {
        background: #2079c7;
    }

    .school_description
    {
        text-align: left;
        padding: 3.875rem 3.25rem 3rem 3.875rem;
    }

    .title
    {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1.75rem;
    }
}
/* End of school */

/* IT-companies */
.symbol_wrapper
{
    padding: 0;
}

.companies_container
{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(220,220,220,1);
    padding: 0.875rem 1.5rem 0.1875rem 2rem;
    text-align: left;
    margin-bottom: 2rem;
    margin-top: 1.5rem;

    img
    {
        margin-bottom: 3rem;
    }

    p
    {
        color: #738899;
        line-height: 1.625rem;
    }
}
/* End of IT-companies */

/* News */
.top_news_container
{
    border-bottom: 1px solid #ededed;
    margin-bottom: 4.25rem;

    .main_image_wrapper
    {
        overflow: hidden;
        border-radius: 5px;
        margin-right: 0.5rem;

        .image_container
        {
            position: relative;
            float: left;

            img
            {
                margin: 0;
            }
        }
    }
}

.news_container
{
    text-align: left;
    margin-bottom: 4.625rem;

    .news_text
    {
        p
        {
            margin-bottom: 1rem;
        }
    }

    p
    {
        line-height: 1.75rem;
        color: #738899;
        margin-bottom: 0.125rem;
        font-family: 'Roboto', Arial, sans-serif;

        &.title
        {
            font-size: 1.5rem;
            font-weight: 500;
            color: #3d464a;
            margin-top: -2px;
            margin-bottom: 1.5rem;
            max-width: 300px;

            &.channel_gtrk
            {
                margin-left: 151px;
            }

            &.channel_12,
            &.channel_pro_gorod
            {
                margin-left: 95px;
            }

            &.channel_mk
            {
                margin-left: 140px;
            }
        }
    }

    a
    {
        font-family: 'Roboto', Arial, sans-serif;

        &.more
        {
            color: #0164af;
            text-decoration: underline;

            &:hover
            {
                text-decoration: none;
            }
        }
    }

    table.news_title
    {
        margin-bottom: 32px;
        max-width: 540px;

        tbody
        {
            background: none;
            border: none;
            margin: 0;
        }

        td
        {
            text-align: left;
            vertical-align: top;
            padding: 0;

            &.logo_divider
            {
                width: 1.5rem;
            }
        }
    }

    img
    {
        float: left;
        margin-bottom: 1.5rem;
    }
}
/* End of news */

/* Prizes */
.prizes_wrapper
{
    background: #1d443e;
    background: linear-gradient(to top, #0f3435, #30594c);

    .content_wrapper
    {
        padding-top: 4.625rem;
        padding-bottom: 4.875rem;
    }

    h2
    {
        color: #fff;
        font-size: 44px;
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: 500;
        text-transform: none;

        &.with_subtitle
        {
            margin-bottom: 1.125rem;
        }
    }

    .subtitle
    {
        color: #fff;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 1.125rem;
        margin-bottom: 0;
    }

    .prize_container
    {
        border-radius: 5px;
        background: #fff;
        overflow: hidden;

        .prize_image_wrapper
        {
            padding: 1.25rem 2rem 0.625rem;
            background: #efefef;
        }

        .prize_description
        {
            padding: 1.25rem 1.75rem 1.875rem;

            p
            {
                margin: 0;
                line-height: 1.5rem;
                color: #888888;

                &.place
                {
                    font-weight: 700;
                    color: #515151;
                    text-transform: uppercase;
                }
            }
        }
    }
}
/* End of prizes */

/* Map */
.map_with_robots
{
    overflow: hidden;
    padding: 8px 0;
}

.before_map
{
    padding-bottom: 2.5rem;
}

.map_wrapper
{
    height: 26.4375rem;
    width: 100%;
    overflow: hidden;
    position: relative;

    .map_overlay_wrapper
    {
        position: absolute;
        height: 0;
        width: 100%;
        z-index: 1;

        .row,
        .columns
        {
            height: 0;
        }

        .yellow_banner
        {
            background-color: #fdaf1a;
            background-color: rgba(253, 175, 26, 0.85);
            float: left;
            overflow: hidden;
            padding: 92px 42px 32px 80px;
            z-index: 1;
            height: 26.4375rem;

            p
            {
                font-size: 36px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 60px;
                margin: 0;
            }
        }
    }
}
/* End of map */

/* Partners */
.partners_wrapper
{
    padding: 5.125rem 0 5rem;

    h3
    {
        margin-bottom: 5.125rem;
    }

    .top_partners
    {
      margin-bottom: 2.5rem;
    }
}
/* End of partners */

/* Contacts */
.contacts_wrapper
{
    padding: 4.5rem 0;

    blockquote
    {
        margin-top: 3.4375rem;
    }

    .button
    {
        margin-left: 1.875rem;
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: 500;
        font-size: 1rem;
    }
}

.contacts_container
{
    margin: 1.6875rem auto;
}

.contacts_text
{
    font-size: 1.0625rem;
    line-height: 1.875rem;
}

.blockquote_title
{
    font-weight: 500;
    font-size: 1.5625rem;
    color: #3d464a;
    font-family: 'Roboto', Arial, sans-serif;
    margin-bottom: 1.25rem;
}

.blockquote_phone
{
    color: #3d464a;
    font-weight: bold;
}
/* End of contacts */

/* Socials */
.social_wrapper
{
    padding-bottom: 5.25rem;
}

.social_container
{
    font-size: 0;
    text-align: center;

    .social_widget
    {
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        width: 300px;
        margin: 0 0.5%;
        margin-bottom: 20px;
    }
}
/* End of socials */

/* Participant values */
.participants_values_wrapper
{
    border: none;
    text-align: center;
    border-radius: 7px;
    width: 90%;
    max-width: 920px;
    padding: 3.125rem;
    outline: none;
    background: #fff;

    h2
    {
        font-size: 1.875rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .values_list
    {
        max-width: 472px;
        text-align: left;
        display: inline-block;

        li
        {
            font-size: 1.25rem;
            color: #284448;
        }
    }
}
/* End of participant values */

/* Enter seminar form */
.enter_seminar_wrapper
{
    border: none;
    text-align: center;
    border-radius: 7px;
    width: 90%;
    top: -65px;
    max-width: 450px;
    padding: 3rem 3.875rem 2.875rem;
    outline: none;
    background: #fff;

    h2
    {
        font-size: 1.25rem;
        text-transform: none;
    }

    .green_check
    {
        margin-bottom: 20px;
    }
}

.enter_seminar_form
{
    input,
    select
    {
        border: 1px solid #83ba52;
        border-radius: 3px;
        margin-bottom: 19px;
        padding-left: 1rem;
        font-size: 1.0625rem;
        color: #989898;
        background-color: #fff;

        &:focus
        {
            border: 1px solid #65a030;
            box-shadow: none;
            background-color: #fff;
        }

        &.error
        {
            border: 1px solid #d97363;
        }
    }

    input[type=submit]
    {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'PT Sans', Arial, sans-serif;
        padding: 0.75rem 2.5rem;
        border-radius: 3px;
        background: #f44e43;
        color: #fff;
        border: none;

        &:hover
        {
            background: #da352a;
        }
    }

    .input_fields_equalizer
    {
        margin-bottom: 3.25rem;
    }

    .button
    {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'PT Sans', Arial, sans-serif;
        padding: 0.75rem 2.5rem;
        border-radius: 3px;
    }
}

//.input_name
//{
//    background: url(../images/background/sprite_icons.png) no-repeat -23px -106px;
//}
//
//.input_phone
//{
//    background: url(../images/background/sprite_icons.png) no-repeat -23px -182px;
//}
//
//.input_mail
//{
//    background: url(../images/background/sprite_icons.png) no-repeat -23px -144px;
//}
/* End of enter seminar form */

/* Footer */
.footer
{
    padding: 3.125rem 0 2.5rem;
    background: #1d1e21;
    text-align: center;

    p
    {
        margin: 0;
        color: #828690;
    }
}
/* End of footer */

/* Large screen only */
@media screen and (min-width: 64em)
{
    .three_columns
    {
        width: 33.3%;
    }
}

/* Adaptive top menu */
@media screen and (max-width: 73em)
{
    .topmenu
    {
        li
        {
            padding: 0 15px;
        }
    }
}
/* End of adaptive top menu */

/* Tablets */
@media screen and (max-width: 64rem)
{
    /* Common */
    .content_wrapper
    {
        padding: 2.5rem 0;
    }

    p
    {
        &.medium
        {
            font-size: 1.125rem;
        }

        &.bigger
        {
            font-size: 1.25rem;
        }

        &.big
        {
            font-size: 1.375rem;
        }
    }

    /* Header */
    .logo_container
    {
        border-right: none;
    }

    .logo_description
    {
        display: none;
    }

    /* Topmenu */
    .top_menu_container
    {
        visibility: hidden;
        position: fixed;
        height: 100%;
        width: 100%;
        text-align: right;
        background: #093136;
        padding: 0;
        top: 76px;
        z-index: -1;

        ul.topmenu
        {
            width: 100%;
            padding: 0;

            li
            {
                display: block;

                a
                {
                    display: block;
                    text-align: center;

                    &:hover
                    {
                        border-top: 4px solid transparent;
                        background: #0c3c42;
                        margin: 0;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }

    .opened-menu
    {
        transform: translateX(0);
        visibility: visible;
    }

    .menu_button_container
    {
        display: block;
        margin-top: 17px;
    }

    .logo_wrapper
    {
        display: inline-block;
    }

    /* Banner */
    .banner_wrapper
    {
        height: 500px;
        margin-top: 75px;

        .main_video
        {
            position: relative;
            top: 0;
            margin-top: 0;
        }

        .details_wrapper
        {
            bottom: 40px;

            .details_container
            {
                .icon_wrapper
                {
                    display: none;
                }

                .date
                {
                    padding: 0 25px;

                    p
                    {
                        line-height: 40px;
                        font-size: 1.25rem;
                    }
                }

                .place
                {
                    padding: 0 20px;
                }
            }
        }
    }

    /* Competitions */
    .competition
    {
        margin-bottom: 2rem;
    }

    /* Map */
    .map_wrapper
    {
        height: 24rem;

        .map_overlay_wrapper
        {
            .yellow_banner
            {
                height: 24rem;
                padding: 92px 35px 12px 40px;
                z-index: 1;

                p
                {
                    font-size: 24px;
                    line-height: 40px;
                }
            }
        }
    }

    /* Divider */
    .divider
    {
        margin-bottom: 6rem;
    }

    /* Order */
    .order_pass_wrapper
    {
        padding-bottom: 8.8125rem;
    }

    /* Booklet */
    .booklet_description
    {
        width: 50%;
        margin-right: 2%;

        ul
        {
            li
            {
                font-size: 1.25rem;
                line-height: 1.625rem;
            }
        }
    }

    .booklet_image
    {
        width: 40%;
        margin-left: 2%;
    }

    /* Events */
    .announce_column
    {
        .article_preview
        {
            .image_container
            {
                margin-bottom: 20px;
                float: none;
            }

            .preview_text
            {
                margin-left: 0;
            }
        }
    }

    /* Timeline */
    .timeline_content_wrapper
    {
        .year_profit
        {
            padding: 3.25rem 1rem 1rem;

            p
            {
                font-size: 1.125rem;
                line-height: 1.5rem;

                &.year
                {
                    font-size: 2rem;
                    padding-right: 2rem;
                    padding-bottom: 1rem;
                    line-height: 2rem;
                }
            }
        }

        .timeline_content_item
        {
            width: 33.3%;
            padding-right: 10px;

            &.large_only
            {
                display: none;
            }

            .image_container
            {
                padding: 0;
            }
        }
    }

    /* School */
    .school_wrapper
    {
        .school_description
        {
            text-align: left;
            padding: 2.5rem 2rem 2rem 2rem;
        }

        .title
        {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
    /* End of school */

    /* IT-companies */
    .companies_container
    {
        margin-top: 0;
    }
    /* End of IT-companies */

    /* Prizes */
    .prizes_wrapper
    {
        h2
        {
            font-size: 2rem;
        }

        .prize_container
        {
            margin-bottom: 1.5rem;
        }

        .content_wrapper
        {
            padding-top: 3.625rem;
            padding-bottom: 2.875rem;
        }
    }
    /* End of prizes */

    /* Timetable */
    .competition_program
    {
        .competitions_timetable_wrapper
        {
            ul.competitions_timetable
            {
                li
                {
                    .time_block
                    {
                        padding: 15px 12px;
                    }
                }
            }
        }
    }

    /* Partners */
    .partners_wrapper
    {
        h3
        {
            margin-bottom: 3rem;
        }
    }
    /* End of partners */

    /* Participant values */
    .participants_values_wrapper
    {
        padding: 2rem;

        h2
        {
            font-size: 1.5rem;
            margin-bottom: 1.25rem;
        }

        .values_list
        {
            li
            {
                font-size: 1rem;
            }
        }
    }
    /* End of participant values */
}

/* Tablets*/
@media screen and (min-width: 640px) and (max-width: 1023px)
{
  /* Prizes */
  .prizes_wrapper
  {
    .prize_container
    {
      .prize_image_wrapper
      {
        float: left;
        width: 60%;
      }

      .prize_description
      {
        padding-top: 10%;
        float: left;
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 940px)
{
    .competition_program
    {
        .competitions_timetable_wrapper
        {
            ul.competitions_timetable
            {

                li
                {
                    width: 100%;

                    .time_block
                    {
                        padding: 15px 12px 15px 25px;
                        height: auto;

                        &.name_container
                        {
                            min-height: 0;
                        }

                        &.mobile_hidden
                        {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* Small devices*/
@media screen and (max-width: 40em)
{
    p
    {
        &.medium
        {
            font-size: 1rem;
        }

        &.bigger
        {
            font-size: 1.0625rem;
        }

        &.big
        {
            font-size: 1.125rem;
        }
    }

    .reveal.large
    {
        width: 90%;
        border: none;
        outline: none;
    }

    /* Map */
    .robot_left,
    .robot_right
    {
        display: none;
    }

    /* Map */
    .map_wrapper
    {
        height: 20rem;

        .map_overlay_wrapper
        {
            display: none;
        }
    }
    /* End of map */

    /* Timetable */
    .competition_program
    {
        .timetable_unit
        {
            .time
            {
                margin-bottom: 0.5rem;
            }

            .event
            {
                font-size: 1rem;
                line-height: 1.4rem;
            }
        }
    }

    /* Order */
    .order_pass_wrapper
    {
        padding-bottom: 5rem;
    }

    /* Banner */
    .banner_wrapper
    {
        height: 400px;
        margin-top: 0;

        .buttons_wrapper
        {
            position: fixed;
            z-index: 10;
            bottom: 0;
            top: auto;
            left: 0;
            width: 100%;

            .button
            {
                font-size: 0.875rem;
                margin-bottom: 0;

                &.left
                {
                    float: left;
                }

                &.right
                {
                    float: right;
                }
            }
        }

        .details_wrapper
        {
            bottom: 10px;

            .details_container
            {

                .date
                {
                    p
                    {
                        line-height: 22px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    /* End of banner */

    /* Events */
    .announce_column
    {
        margin-left: auto;
        margin-right: auto;
    }

    /* News */
    .top_news_container
    {
        border-bottom: none;
        margin-bottom: 2.25rem;

        .main_image_wrapper
        {
            .image_container
            {
                margin-bottom: 1.5rem;

                img
                {
                    margin: 0;
                }
            }
        }
    }

    .news_container
    {
        margin-bottom: 3.625rem;

        p
        {
            &.title
            {
                font-size: 1.125rem;
            }
        }
    }
    /* End of news */

    /* School */
    .school_wrapper
    {
        margin-bottom: 3.5rem;

        .school_logo_container
        {
            height: auto !important;
            padding: 2rem 0;
        }

        .school_description
        {
            padding: 2.5rem 1.5rem 2rem 1.5rem;
        }

        .title
        {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
    }
    /* End of school */

    /* Prizes */
    .prizes_wrapper
    {
        h2
        {
            font-size: 1.5rem;
        }

        .subtitle
        {
            font-size: 1rem;
            margin-bottom: 0;
        }

        .content_wrapper
        {
            padding-bottom: 1.5rem;
        }
    }
    /* End of prizes */

    /* Partners */
    .partners_wrapper
    {
        text-align: center;

        h3
        {
            margin-bottom: 2rem;
        }

        .top_partners
        {
          margin-bottom: 2rem;

          img
          {
            max-width: 150px;
            margin-bottom: 0;
          }
        }


    }
    /* End of partners */

    /* Contacts */
    .contacts_wrapper
    {
        padding: 2.5rem 0;
    }

    .contacts_container
    {
        margin: 0 auto;
    }
    /* End of contacts */

    /* Enter seminar form */
    .enter_seminar_wrapper
    {
        padding: 2rem 1.5rem 1.5rem;
    }
    /* End of enter seminar form */
}

/* Adaptive topmenu */
@media screen and (min-width: 64rem)
{
    .top_menu_container
    {
        text-align: right;
        display: block !important;
        position: relative;
    }
}
/* End of adaptive topmenu */

/* Adaptive timeline */
@media screen and (max-width: 113.125em)
{
    .timeline_content_wrapper
    {
        .year_profit
        {
            p
            {
                font-size: 1.5rem;

                &.year
                {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 98.125em)
{
    .timeline_content_wrapper
    {
        .year_profit
        {
            padding: 8.25rem 1rem 1.5rem;

            p
            {
                font-size: 1.375rem;

                &.year
                {
                    font-size: 2.25rem;
                }
            }
        }
    }
}

@media screen and (max-width: 78.875em)
{
    .timeline_content_wrapper
    {
        .year_profit
        {
            p
            {
                font-size: 1.125rem;
                line-height: 1.5rem;

                &.year
                {
                    font-size: 1.75rem;
                }
            }
        }
    }
}
/* End of adaptive timeline */

/* Adaptive banner */
@media screen and (max-width: 22em)
{
    .hamburger
    {
        padding-right: 0.3rem;
    }

    .banner_wrapper
    {
        margin-top: 0;
        height: 250px;

        .buttons_wrapper
        {
            .button
            {
                &.left
                {
                    float: right;
                }
            }
        }
    }

}
/* End of adaptive banner */

/* Adaptive header */
/* Small devices*/
@media screen and (max-width: 640px)
{
    .header_wrapper
    {
        position: relative;
    }

    .phone_container
    {
        text-align: center;
        float: none;
    }

    .menu_button_wrapper
    {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
    }

    .top_menu_container
    {
        top: 135px;
    }
}

@media screen and (max-width: 33em)
{
    .header_wrapper
    {
        min-height: 97px;
    }

    .top_menu_container
    {
        top: 97px;
    }

    .logo_container
    {
        padding-top: 10px;
    }

    .logo_wrapper
    {
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .phone_wrapper
    {
        width: 100%;
        text-align: center;
    }

    .phone_container
    {
        float: none;
        padding: 8px 0;
    }

    .lightgray_menu_button
    {
        display: none;
    }

    .menu_button_container
    {
        cursor: pointer;
        width: 100%;
        margin-top: 12px;

        p.menu_text
        {
            display: block;
        }
    }
}